img{
    border-radius: 50%;
}
tr{
    border: 1px solid black;
    border-collapse: collapse;
}
body{
    background-color:green;
}
hr{
    background-color: purple;
    border-style: none;
    height: 3px;
    
}
h1,h3{
    color: purple;
    
}